/* ********** Frontpage */

@media only screen and (min-width: 961px) {
  .front_page_background, 
  .auth_background{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dozt7xeil/image/upload/v1691774116/DentalJournal/dental_journal_fek0jn.webp"); /* The image used */
    background-color: #0C1832; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    background-attachment: fixed;
     
  }
}

.top_logos {
  display: flex;
  justify-content: center;
  padding: 4% 0;
}
.frontPage_image_right {
  width: 400px;
  height: auto;
  object-fit: contain;
}

.front_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content !important;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
}
.button_auth {
  margin-bottom: 15%;
}
.frontPage_btn {
  background-color: #00aee3;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.front_header {
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 15%;
}
.front_slogan {
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.bottom_logos {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -10px);
}
.frontPage_image_bottom {
  width: 60vw;
  height: auto;
  display: block;
}

@media only screen and (max-width: 960px) {
  .front_page_background, 
.auth_background {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/dozt7xeil/image/upload/v1691774116/DentalJournal/dental_journal_fek0jn.webp"); /* The image used */
  background-color: #cccccc; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
}
}

/* ****************** Login page */

@media only screen and (max-width: 960px) {
  .auth_background {
    min-height: 100vh;
  }
}

.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_btn {
  background-color: #00aee3;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 50vw !important;
  border-radius: 50px;
}
.auth_btn:hover {
  background-color: aquamarine;
}

.password_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eye_icon {
  background-color: #ffffff;
  padding: 5px;
  border: none !important;
}

.login_footer,
.signup_footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
}
/* *************** Sign up Form */
.sign_up_form,
.login_form {
  padding: 150px 2vw;
  color: #fff;
}

.success,
.error {
  color: #fff;
  background-color: #008000;
  text-align: center;
  font-weight: 700;
  padding: 10px 5px;
  width: fit-content;
  margin: auto;
}
.error {
  background-color: #ff0000 !important;
}

.dr_name_input {
  display: flex;
  position: relative;
}
.dr_name_input span {
  position: absolute;
  top: 6px;
  left: 6px;
}
.dr_name_input_field {
  padding-left: 35px !important;
}
