/* ********** Frontpage */

@media only screen and (min-width: 961px) {
}
.front_page_background {
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(253, 239, 239, 1) 0%,
    rgba(251, 217, 217, 1) 10%,
    rgba(249, 197, 197, 1) 20%,
    rgba(248, 184, 184, 1) 30%,
    rgba(244, 140, 141, 1) 100%
  );
}
.top_logos {
  display: flex;
  justify-content: center;
  padding: 4% 0;
}
.frontPage_image_right {
  width: 400px;
  height: auto;
  object-fit: contain;
}

.front_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content !important;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
}
.button_auth {
  margin-bottom: 15%;
}
.frontPage_btn {
  background-color: #00aee3;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.front_header {
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 15%;
}
.front_slogan {
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.bottom_logos {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -10px);
}
.frontPage_image_bottom {
  width: 60vw;
  height: auto;
  display: block;
}

@media only screen and (max-width: 960px) {
  .frontPage_image_right {
    width: 100%;
  }
  .frontPage_image_bottom {
    width: 90vw;
  }
}

/* ****************** Login page */
.auth_background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(253, 239, 239, 1) 0%,
    rgba(251, 217, 217, 1) 10%,
    rgba(249, 197, 197, 1) 20%,
    rgba(248, 184, 184, 1) 30%,
    rgba(244, 140, 141, 1) 100%
  );
}
@media only screen and (max-width: 960px) {
  .auth_background {
    min-height: 100vh;
  }
}

.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth_btn {
  background-color: #00aee3;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 50vw !important;
  border-radius: 50px;
}
.auth_btn:hover {
  background-color: aquamarine;
}

.password_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eye_icon {
  background-color: #ffffff;
  padding: 5px;
  border: none !important;
}

.login_footer,
.signup_footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 960px) {
}
/* *************** Sign up Form */
.sign_up_form,
.login_form {
  padding-bottom: 50px;
}

.success,
.error {
  color: #fff;
  background-color: #008000;
  text-align: center;
  font-weight: 700;
  padding: 10px 5px;
  width: fit-content;
  margin: auto;
}
.error {
  background-color: #ff0000 !important;
}

.dr_name_input {
  display: flex;
  position: relative;
}
.dr_name_input span {
  position: absolute;
  top: 6px;
  left: 6px;
}
.dr_name_input_field {
  padding-left: 35px !important;
}
