.book_display {
  background: rgb(217, 255, 254);
  background: linear-gradient(
    90deg,
    rgba(217, 255, 254, 1) 0%,
    rgba(254, 255, 217, 1) 100%
  );
}
.bannerImg {
  width: 100% !important;
  height: 300px !important;
  object-fit: cover !important;
}
.search-section {
  width: 78%;
}
.bookIndex-btn-body {
  width: 18%;
}
.searchbar {
  width: 100%;
  height: auto;
  border-radius: 15px 0 0 15px !important;
  border: 0;
  box-shadow: 0 0 10px #000;
  padding: 20px;
}
.searchbar:focus {
  outline: none !important;
  border: 1px solid var(--red);
}
.searchbar:focus + .search_btn {
  box-shadow: none;
}
.search_btn {
  background-color: var(--red);
  color: #fff;
  box-shadow: 3px 0 10px #000;
  border: 0;
  width: 50px;
  font-size: 25px;
  font-weight: 900 !important;
  border-radius: 0 15px 15px 0 !important;
}
.search_btn:hover {
  background-color: var(--red);
  color: #fff;
}
.sideFilter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bookRow {
  padding: 0 10px;
  display: flex;
}
.book_card {
  position: relative;
  display: flex;
  justify-content: center;
}
.book_card_body {
  width: 55vw;
}

.b_no {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 60px solid var(--red);
  border-right: 60px solid transparent;
  left: 0;
  top: 0;
}
.b_no p {
  position: absolute;
  top: -55px !important;
  left: 10px;
  font-weight: bold;
}
.bookImage {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  padding: 10px;
}
.bookFoot {
  background-color: var(--lightgreen);
  color: #000 !important;
  padding: 10px;
  height: 100%;
}
.b-name {
  line-height: 0.9;
}
.actionbtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.view-btn-span {
  background-color: var(--violate);
  border: 1px solid var(--violate);
  border-radius: 20px;
  padding: 0 1px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.download-btn-span {
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 20px;
  padding: 0 1px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.view-btn {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 100%;
}
.download-Btn {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  border: none;
  width: 100%;
}
.actionbtn i {
  padding-right: 10px;
}

.logout-and-publish-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.publish-btn {
  background: rgb(7, 0, 15);
  background: linear-gradient(
    45deg,
    rgba(7, 0, 15, 1) 0%,
    rgba(29, 0, 64, 1) 100%
  );
  color: #fff;
  border: 0;
  padding: 5px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
}
.publish-btn:hover {
  background: rgb(27, 0, 58);
  background: linear-gradient(
    180deg,
    rgb(34, 0, 73) 0%,
    rgba(29, 0, 64, 1) 100%
  );
}

.index-and-searchBtn {
  display: flex;
  justify-content: space-between;
}
.BookIndex_btn {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  font-weight: 700;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
}
.BookIndex_btn:hover {
  background-color: #ec2127;
  color: #fff;
  transition: 0.3s;
}
.Index_book_name {
  text-decoration: none;
  color: #339933;
}
.Index_book_name:hover {
  color: #ec2127;
}

.logout_btn {
  background: rgb(89, 37, 244);
  background: linear-gradient(
    180deg,
    rgba(89, 37, 244, 1) 0%,
    rgba(142, 106, 255, 1) 100%
  );
  color: #fff;
  text-decoration: none !important;
  padding: 20px;
  border: 0;
  border-radius: 50px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 150px;
  min-width: 150px;
  height: auto;
}
.logout_btn:hover {
  background: rgb(89, 37, 244);
  background: linear-gradient(
    45deg,
    rgba(89, 37, 244, 1) 0%,
    rgba(142, 106, 255, 1) 100%
  );
}

.logout-icon {
  position: absolute;
  top: -10px;
  left: -10px;
}
.log-i {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 100%;
  object-fit: cover;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.log-txt {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 18px;
  font-weight: 700;
  transform: translate(0, 5px);
}
.index-icon {
  width: 40px;
  height: 40px;
}

/* Radio Button to Button */
.radioSearch {
  display: inline-block;
}

.radioSearch label {
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 20px;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: fit-content;
  text-align: center;
  font-weight: 900;
}

.radioSearch input[type="radio"] {
  display: none;
}

.radioSearch input[type="radio"]:checked + label {
  background: rgb(0, 255, 208);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 208, 1) 0%,
    rgba(0, 255, 157, 1) 100%
  );
}

.radioSearch label:active {
  background: rgb(0, 255, 208);
  background: linear-gradient(
    90deg,
    rgba(0, 255, 208, 1) 0%,
    rgba(0, 255, 157, 1) 100%
  );
}

@media only screen and (max-width: 900px) {
  .book_display_main {
    display: flex;
    flex-direction: column-reverse;
  }
  .bannerImg {
    height: 120px !important;
  }

  .book_card_body {
    width: 100%;
  }
  .bookImage {
    width: 100%;
    height: 15vh;
    object-fit: cover;
  }
  .logout_btn {
    min-height: 60px;
  }

  .logout-icon {
    top: 0px;
    left: -10px;
  }
  .log-txt {
    top: 10px;
  }

  .bookIndex-btn-body {
    display: flex;
    flex-direction: column;
  }
  .BookIndex_btn {
    padding: 0 !important;
  }
}
